{{#if isAdmin}}
<h1>Adopted Cats</h1>
<form action="/" method="GET">
    <input type="text" name="search">
    <button>Search</button>
</form>
</header>
{{/if}}
<main>
<section class="cats">
    <ul>
        {{#each cats}}
        {{>adoptionCat}}
        {{/each}}
    </ul>
</section>
</main>