    <main>
        <form method="post" class="cat-form">
            <h2>Register</h2>
            <label for="username">Username</label>
            <input name="username" type="text" id="username">
            <label for="password">Password</label>
            <input name="password" type="password" id="password">
            <label for="rePass">Retype Password</label>
            <input name="rePass" type="password" id="rePass">
            <label for="phone">Phone</label>
            <input name="phone" type="text" id="phone">
            <label for="phone">Location</label>
            <input name="location" type="text" id="location">
            <button type="submit">Register</button>
       </form>
    </main>
